.HC{
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0%;
    /*collant*/
}
.logo{
    display: flex;
    
}
.logo2{
    display: flex;
    
}
a:visited {
    color: rgb(200, 200, 200);
  }

.img{
    height: 80px;
    width: 80px;
}

.img2{
    height: 80px;
    width: 80px;
}
.name{
    margin-top: 16px;
    margin-left: 15px;
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Menu{
    display: grid;
    grid-template-columns: 200px 250px 200px 65px;
    font-size: 25px;
    text-align: center;
}
.Menu1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px rgb(200, 200, 200) solid;
    border-radius: 5px;
    padding: 4px;
    padding-top: 20px;
    margin-right: 20px;
}

.Menu2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px rgb(201, 188, 188) solid;
    border-radius: 5px;
    padding: 7px;
    padding-top: 20px;
    margin-right: 20px;
}

.Menu3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px rgb(201, 188, 188) solid;
    border-radius: 5px;
    padding: 4px;
    padding-top: 20px;
    
}
